<section class="about-page"
  <header class="header">
    <h1>About</h1>
  </header>

  <article class="about-text">
    <p>Welcome to 'Jungle'! Explore the vast selection of plants and green life through our catalog</p>
  </article>
</section>